.mt-5.row
  .col-2
  .col-8
    = form_for data[:task] do |form|
      .mb-3
        = form.label :title, class: 'form-label'
        = form.text_field :title, class: 'form-control'
      .mb-3
        = form.label :description, class: 'form-label'
        = form.text_area :description, class: 'form-control'
      .mb-3
        = form.label :status, class: 'form-label'
        = form.select :status, data[:statuses], class: 'form-select'
      .mb-3
        = form.label :user_id, class: 'form-label'
        = form.collection_select :user_id, data[:users], :id, :name, include_blank: true, class: 'form-select'
      = form.submit 'Submit', class: 'btn btn-primary'
  .col-2
